# Retrieve from Azure
ENTRA_CLIENT_ID=
ENTRA_CLIENT_SECRET=
ENTRA_TENANT_ID=

# Callback endpoint, also needs registered in enterprise application in Azure
ENTRA_REDIRECT_URI=

# Cookie domain
COOKIE_DOMAIN=

# Typically both the frontend URL
FRONTEND_URL=
CORS_ORIGINS=

# Database connection string, retrieve from Azure
DATABASE_DSN=

# Embeddings API URL
EMBEDDINGS_API_URL=